:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

body::after {
  content: '';
  background: url('./images/honeycomb-black-white.svg');
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  height: 100%;
}

.black-jack {
  margin: 30px 20px;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 4rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
}
.bee {
  height: 40px;
  width: 40px;
  margin-top: 13px;
}

.dealer-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  margin: 0% 0% 0% 0%;
  position: relative;
}

.dealer-cards {
  display: flex;
  align-content: space-between;
  justify-content: center;
}

.player-buttons {
  display: flex;
  flex-direction: column;
  margin: 0% 35%;
}

.player-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 2rem;
  margin: 0% 0% 0% 0%;
}

.player-cards {
  display: flex;
  justify-content: center;
}

.card-image1 {
  height: 100px;
}
.card-image2 {
  height: 200px;
}
.player-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 60px;
}
.hit {
  background-color: black;
  color: white;
  border: black solid 5px;
  border-radius: 4%;
}
.stay {
  background-color: black;
  color: white;
  border: black solid 5px;
  border-radius: 4%;
}
